@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono&family=Source+Code+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "urbanist", sans-serif;
}


:root {
    --bs--dark--color: #1a1d20;
    --bs--dark-primary: #1c1c1c;
    --bs--main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs--secondry-color: #29a9fd;
    --bs-supporting-color: #c850a0;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs--dark--color);

}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs--dark--color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.text-grey {
    color: var(--bs-primary-color);
}


.button,
a {
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;

}

.common-heading{
    font-size:2.8rem ;
    font-weight: 500;
    letter-spacing: 0.1rem!important;
}



/* Services-section */
.services-section{
    padding: 6rem 0 3rem 0!important;
}


/* navbar */
.nav-link {
    color: var(--bs--main-color) !important;
}

.nav-link:hover {
    color: var(--bs--secondry-color) !important;
}



/* hero's section-- */

.bg-main {
    height: 80vh;
    position: relative;
}


.bg-color {
    background-color: var(--bs--dark-primary);
}

.hero-section .container {

    display: grid;
    place-content: center;
    height: inherit;

}

.hero-video--section {
    height: auto;
    width: 30rem;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1690045734 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690045734 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 183px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1690045734 .shape-fill {
    fill: #FFFFFF;
}

.card-box:hover{
    box-shadow: rgba(73, 88, 104, 0.619) 0 8px 24px;
}

.services-section .card-box{
    padding: 4rem  2.4rem 3rem!important;
    border-radius: .5rem!important;
}

/* Service Section-- */
.common-title{
margin-bottom: 4.2rem;
}

.common-section{
    padding: 0 0 9rem 0;
}

.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.9), rgba(22,22,22,0.9)), url("https://i.pinimg.com/564x/3d/94/cd/3d94cd395ca2075a3aab4d2c591f46ef.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}


.more-info-section .img-section{
    position: relative;
}

.more-info-section img{
    position: absolute;
    top: -10%;
    left: 0;
    max-width: 100%;
    width: 70%;
}


.icon-span{
    width: 1.5 rem;
    height: 1.5 rem;
    background-color: var(--bs--secondry-color);
    color: var(--bs--main-color);
}